@mixin wrapper {
  z-index: 90;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin wrapper--fixed {
  position: fixed;
}

.message-overlay {
  display: inline-block;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 80;
}

.wrapper {
  @include wrapper();

  &--fixed {
    @include wrapper();
    @include wrapper--fixed();
  }
}

.message {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3;
  margin-top: 20px;
}