@import '../../styles/variable';

@mixin down-tooltip {
  position: fixed;
  display: block;
  z-index: 5000;
  font-size: 12px;
  border: solid 2px #167acd;
  color: black;
  padding: 26px 34px 56px 84px;
  line-height: 1.3;
  background: white;
  box-shadow: 0 2px 30px 1px rgba(0,0,0,0.3);
  overflow-y: hidden;
}

@mixin down-tooltip--chrome {
  left: 40px;
  bottom: 30px;
}

@mixin down-tooltip--ie {
  left: 50%; transform: translateX(-50%); bottom: 110px;
}

.down-tooltip--chrome {
  @include down-tooltip();
  @include down-tooltip--chrome();
}

.down-tooltip--ie, .down-tooltip--edge {
  @include down-tooltip();
  @include down-tooltip--ie();
}

@mixin arrow() {
  display: inline-block;
  background: #167acd;
  position: relative;
  width: 20px;
  height: 14px;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
}

.emblem {
  position: absolute;
  top: 24px;
  left: 20px;
  background: url($emblem-url);
  width: 48px;
  height: 48px;
}

.close {
  position: absolute;
  top: 14px;
  right: 14px;
  cursor: pointer;
  font-size: 14px;
  color: #b9b9b9;
}

.arrow--up {
  @include arrow();
  position: absolute;
  bottom: 40px;
  left: 33px;
  animation: down 0.7s infinite ease-out;

  &::after {
    border-top: 22px solid #167acd;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-bottom: 0;
    bottom: -22px;
    left: #{(20-42)/2 + 'px'}
  }
}

.title {
  font-size: 16px;
  color: #167acd;
}

.sub-title {
  font-size: 21px;
  color: #121212;
}

@keyframes down {
  0%   { transform: translateY(0); opacity: 1}
  100% { transform: translateY(80px); opacity: 0 }
}