@import '../../styles/variable';

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-55px, 24px);
  position: absolute;
  box-shadow: inset 0 8px 5px -5px rgba(0,0,0, 0.3);
  text-align: left;
  background: #2e434e;
  color: white;
  font-size: 0.85em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  padding: 0;
}

.dropdown-item--color-picker {
  display: flex;
  height: auto;
  line-height: 36px;
  font-size: 13px;
  letter-spacing: 0.1em;
  padding: 0;
}

.dropdown-item--clear-paint {
  padding: 0 14px;
  line-height: 48px;
  background: #2e434e;
  white-space: nowrap;
  font-size: 13px;

  &:hover {
    cursor: pointer;
    background: #1b2c35;
  }
}