.loading {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-width: 6px;
  border-style: solid;
  border-color: rgba(255,255,255,.3) rgba(255,255,255,.3) #fff #fff;
  border-radius: 50%;
  animation: loading-rotate 1s linear infinite;
}

@keyframes loading-rotate {
  0% {transform:rotate(0deg)}
  100% {transform:rotate(360deg)}
}

.loading--sharp-spinner {
  height: 100px;
  position: relative;
  width: 100px;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
  border: 2px solid;
  border-color: transparent #fff transparent #FFF;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  transform-origin: 50% 50%;
}

@keyframes rotate-loading {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-text {
  position: absolute;
  top: 45px;
  text-align: center;
  width: 100px;
  color: #c1c1c1;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.1em;
  animation: loading-text-opacity 2s linear 0s infinite normal;
}

@keyframes loading-text-opacity {
  0%  { opacity: 0; }
  20% { opacity: 0; }
  50% { opacity: 1; }
  100%{ opacity: 0; }
}

.loading--fade-circle {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loading--fade-circle div {
  transform-origin: 32px 32px;
  animation: loading--fade-circle 1.2s linear infinite;
}
.loading--fade-circle div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #3da9f5;
}
.loading--fade-circle div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.loading--fade-circle div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.loading--fade-circle div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.loading--fade-circle div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.loading--fade-circle div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.loading--fade-circle div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.loading--fade-circle div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.loading--fade-circle div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.loading--fade-circle div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.loading--fade-circle div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.loading--fade-circle div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.loading--fade-circle div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes loading--fade-circle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
