@mixin default {
  display: inline-block;
  padding: 14px 80px;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;

  & + & {
    margin-left: 8px;
  }
}

@mixin small {
  font-size: 14px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 0;
  color: white;

  & + & {
    margin-left: 8px;
  }
}

@mixin modal {
  line-height: 30px;
  min-width: 80px;
  height: 30px;
  border-radius: 4px;
  cursor: pointer;
}

@mixin modal-confirm {
  background: #1c9cf3;
  color: #ffffff;
  border: 1px solid #1c9cf3;
  font-size: 13px;
  margin-right: 8px;

  &:hover {
    background: #1986cf;
    border-color: #1986cf;
  }
}

@mixin modal-cancel {
  background: #f7f8f9;
  font-size: 13px;
  color: #666666;
  border: 1px solid #d5d5d5;

  &:hover {
    background : rgba(228, 228, 228, 0.5);
  }
}

@mixin gray {
  background: #b1b1b1;
}

@mixin blue-light {
  background-color: #7a98bf;

  &:hover {
    background-color: #587dae;
  }
}

@mixin red-light {
  background-color: #f17979;

  &:hover {
    background-color: #ec4b4b;
  }
}

.default-button {
  @include default();
  @include gray();
}

.create-button {
  @include default();
  @include red-light();
}

.join-button {
  @include default();
  @include blue-light();
}

.join-small-button {
  @include small();
  @include blue-light();
}

.modal-confirm {
  @include modal();
  @include modal-confirm();
}

.modal-cancel {
  @include modal();
  @include modal-cancel();
}