// 이미지 url
$entry-bg-url: '/public/img/entry-bg.jpg';
$entry-blurred-bg-url: '/public/img/entry-blurred-bg.jpg';
$computer-url: '/public/img/computer.png';
$blurred-computer-url: '/public/img/blurred-computer.png';
$selector-close-url: '/public/img/selector-close.png';
$table-common-url: '/public/img/table-common.png';
$table-center-url: '/public/img/table-center.png';
$table-left-url: '/public/img/table-left.png';
$table-right-url: '/public/img/table-right.png';
$emblem-url: '/public/img/emblem.png';