@mixin canvas {
  display: none;
  position: absolute;
  top:0;
  left: 0;
}

@mixin canvas--active {
  display: inline-block;
}

.screen {
  border: 1px solid #167acd;
  box-sizing: border-box;
}

.canvas {
  @include canvas();

  &--active {
    @include canvas();
    @include canvas--active();
  }
}