@import '../../styles/variable';

.waiting {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: url($entry-blurred-bg-url) center 50%;
  background-size: cover;
  text-align: center;
  padding-top: 130px;
  box-sizing: border-box;
  color: #333333;
}

.content {
  position: relative;
  z-index: 5000;
}

.title {
  font-size: 50px;
}

.sub-title {
  font-size: 18px;
  margin-bottom: 64px;
  line-height: 1.3;
}

.selector {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 60px;
  padding-right: 70px;
  background: #277bbf;
  background: linear-gradient(to right, #419ae4, #1564a3);
  border-radius: (92px / 2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
  height: 92px;
  line-height: 93px;
  margin-bottom: 10px;
}

.notice {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 20px;
}

.label {
  background: none;
  padding: 0;
  border: 0;
  color: white;
  font-size: 28px;
  font-weight: lighter;
  cursor: default;
}

.label-name {
  position: relative;
  vertical-align: middle;
  margin-right: 42px;
}

.input {
  display: inline-block;
  appearance: none;
  vertical-align: middle;
  border: 0;
  border-radius: 34px;
  text-align: center;
  width: 190px;
  height: 62px;
  font-size: 30px;
  font-weight: normal;
  color: #1278cb;
}

.close {
  position: absolute;
  top: 30px;
  right: 24px;
  width: 32px;
  height: 32px;
  background: url($selector-close-url);
  border: 0;
  cursor: pointer;
  outline: none;
}

.table-image {
  position: absolute;
  bottom: -92px;
  width: 100%;
  height: 208px;

  background:
    url($table-left-url) left 62px no-repeat,
    url($table-right-url) right 62px no-repeat,
    url($table-common-url);
}

.computer {
  position: absolute;
  left: 50%;
  bottom: -148px;
  width: 600px;
  height: 400px;
  background: url($computer-url) no-repeat;
  transform: translateX(-48%) scale(1.4);
}

@media screen and (max-height: 800px) {
  .computer {
    display: none;
  }
}