@mixin place-at-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin tooltip {
  opacity: 0;
  visibility: hidden;
  width: auto;
  min-width: 24px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  background-color: #ffffff;
  color: #333333;
  text-align: left;
  border: 1px solid #444444;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  padding: 4px 7px;
  position: absolute;
  z-index: 1000;
  bottom: -20px;
  transform: translateX(-50%);

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 5px);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
  }
}