// 이미지 url
$remote-control-icon-url: '../../styles/img/remote-control.svg';
$laser-pointer-icon-url: '../../styles/img/laser-pointer.svg';
$function-keyboard-icon-url: '../../styles/img/function-keyboard.svg';
$screen-keyboard-icon-url: '../../styles/img/screen-keyboard.svg';
$draw-icon-url: '../../styles/img/draw.svg';
$screen-capture-icon-url: '../../styles/img/screen-capture.svg';
$full-screen-expand-icon-url: '../../styles/img/full-screen-expand.svg';
$full-screen-minimize-icon-url: '../../styles/img/full-screen-minimize.svg';
$toolbar-close-icon-url: '../../styles/img/toolbar-close.svg';
$toolbar-arrow-up-url: '../../styles/img/toolbar-arrow-up.svg';
$pause-icon-url: '../../styles/img/pause.svg';
$drag-bar-icon-url: '../../styles/img/drag-bar.svg';
$screen-ratio-fit-url: '../../styles/img/screen-ratio-fit.svg';
$screen-ratio-100-url: '../../styles/img/screen-ratio-100.svg';
$screen-ratio-125-url: '../../styles/img/screen-ratio-125.svg';
$screen-ratio-150-url: '../../styles/img/screen-ratio-150.svg';