@import '../../styles/variable';
@import '../../styles/utils';

@mixin toolbar--fixed {
  position: fixed;
}

@mixin toolbar-open {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  background: #2185DA;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.3);
}

@mixin toolbar-open__item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 42px;
  height: 40px;
  border-radius: 4px;
  margin: 0;

  &:first-child {
    margin-left: 6px;
  }

  &::before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    align-self: center;
  }

  &:hover {
    cursor: pointer;
    background-color: #096DBB;

    .toolbar-open__tooltip {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s 0.5s;
    }
  }
}

@mixin toolbar-open__item--active {
  background-color: #013a67;
}

@mixin toolbar-open__item--before-clear {
  &::before {
    content: none;
  }
}

@mixin toolbar-open__item--disable {
  opacity: 0.2;

  &:hover {
    cursor: default;
    background: transparent;

    .toolbar-open__tooltip {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@mixin toolbar-open__item--hover-bg-none {
  &:hover {
    background: transparent;
  }
}

@mixin toolbar-open__item--wide {
  width: auto;
}

@mixin toolbar-open__item--full {
  width: 50px;
  margin: 0;
  height: inherit;
  align-self: stretch;
  border-radius: 0;
  border-left: 1px solid rgba(50,50,50, 0.1);
}

@mixin toolbar-open__item--ml-6 {
  margin-left: 10px;
}

@mixin toolbar-open__item--bold {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #167ACF;

  &:hover {
    background: #ED430E;
  }
}

@mixin toolbar-open__item--bolder {
  background: #0C68B3;
  &:hover {
    background: #F56A15;
  }
}

@mixin toolbar-open__item--right-round {
  border-bottom-right-radius: 10px;
}

@mixin toolbar-open__item--km-control {
  @include toolbar-open__item();

  &::before {
    background: url($remote-control-icon-url) no-repeat;
  }
}

@mixin toolbar-open__item--laser-pointer {
  @include toolbar-open__item();

  &::before {
    background: url($laser-pointer-icon-url) no-repeat;
  }
}

@mixin toolbar-open__item--screen-keyboard {
  @include toolbar-open__item();

  &::before {
    background: url($screen-keyboard-icon-url) no-repeat;
  }
}

@mixin toolbar-open__item--function-keyboard {
  @include toolbar-open__item();

  &::before {
    background: url($function-keyboard-icon-url) no-repeat;
  }
}

@mixin toolbar-open__item--draw {
  @include toolbar-open__item();

  &::before {
    background: url($draw-icon-url) no-repeat;
  }
}

@mixin toolbar-open__item--screen-capture {
  @include toolbar-open__item();

  &::before {
    background: url($screen-capture-icon-url) no-repeat;
  }
}

@mixin toolbar-open__item--screen-ratio-fit {
  @include toolbar-open__item();

  &::before {
    background: url($screen-ratio-fit-url) no-repeat;
  }
}

@mixin toolbar-open__item--screen-ratio-100 {
  @include toolbar-open__item();

  &::before {
    background: url($screen-ratio-100-url) no-repeat;
  }
}

@mixin toolbar-open__item--screen-ratio-125 {
  @include toolbar-open__item();

  &::before {
    background: url($screen-ratio-125-url) no-repeat;
  }
}

@mixin toolbar-open__item--screen-ratio-150 {
  @include toolbar-open__item();

  &::before {
    background: url($screen-ratio-150-url) no-repeat;
  }
}

@mixin toolbar-open__item--full-screen-expand {
  @include toolbar-open__item();

  &::before {
    background: url($full-screen-expand-icon-url) no-repeat;
  }
}

@mixin toolbar-open__item--full-screen-minimize {
  @include toolbar-open__item();

  &::before {
    background: url($full-screen-minimize-icon-url) no-repeat;
  }
}

@mixin toolbar-open__item--close {
  @include toolbar-open__item();

  &::before {
    background: url($toolbar-close-icon-url) no-repeat;
  }
}

@mixin toolbar-open__item--fold {
  @include toolbar-open__item();

  &::before {
    background: url($toolbar-arrow-up-url) no-repeat;
  }
}

@mixin toolbar-open__select {
  width: 12px; height: 40px;
  border-radius: 4px;
  position: relative;

  &:hover {
    background: #0762AB;
    cursor: pointer;
  }

  &::before {
    content: " ";
    $arrow-size: 4px;
    position: absolute;
    display: block;
    bottom: 8px; left: calc(50% - #{$arrow-size});
    width: 0; height: 0;
    border-top: $arrow-size solid white;
    border-left: $arrow-size solid transparent;
    border-right: $arrow-size solid transparent;
  }
}

@mixin toolbar-open__select--disable {
  opacity: 0.2;

  &:hover {
    background: transparent;
    cursor: default;
  }
}

.toolbar-open {
  @include toolbar-open();

  &--fixed {
    @include toolbar-open();
    @include toolbar--fixed();
  }
}

.toolbar-open__group {
  display: flex;
  align-items: center;
  padding: 4px 6px;
}

.toolbar-open__tooltip-wrap {
  position: relative;
  top: 6px;
}

.toolbar-close__tooltip-wrap {
  position: absolute;
  top: 25px;
  left: 45px;
}

.toolbar-open__select {
  @include toolbar-open__select();

  &--disable {
    @include toolbar-open__select();
    @include toolbar-open__select--disable();
  }
}

.toolbar-open__item-number {
  position: absolute;
  background: #003764;
  color: white;
  font-size: 0.6em;
  letter-spacing: -0.01em;
  padding: 2px 5px 4px;
  border-radius: 8px;
  right: -2px; top: 0;
}

.toolbar-open__item-divide {
  background: #1d77c3;
  width: 1px;
  height: 25px;
}

.toolbar-open__screen-nav-wrap {
  margin: 6px;
}

.toolbar-open__tooltip , .toolbar-close__tooltip {
  @include tooltip();
}

.toolbar-open__item--km-control {
  @include toolbar-open__item--km-control();

  &--active {
    @include toolbar-open__item--km-control();
    @include toolbar-open__item--active();
  }

  &--disable {
    @include toolbar-open__item--km-control();
    @include toolbar-open__item--disable();
  }
}

.toolbar-open__item--laser-pointer {
  @include toolbar-open__item--laser-pointer();

  &--active {
    @include toolbar-open__item--laser-pointer();
    @include toolbar-open__item--active();
  }

  &--disable {
    @include toolbar-open__item--laser-pointer();
    @include toolbar-open__item--disable();
  }
}

.toolbar-open__item--function-keyboard {
  @include toolbar-open__item--function-keyboard();

  &--active {
    @include toolbar-open__item--function-keyboard();
    @include toolbar-open__item--active();
  }

  &--disable {
    @include toolbar-open__item--function-keyboard();
    @include toolbar-open__item--disable();
  }
}

.toolbar-open__item--screen-keyboard {
  @include toolbar-open__item--screen-keyboard();

  &--active {
    @include toolbar-open__item--screen-keyboard();
    @include toolbar-open__item--active();
  }

  &--disable {
    @include toolbar-open__item--screen-keyboard();
    @include toolbar-open__item--disable();
  }
}

.toolbar-open__item--draw {
  @include toolbar-open__item--draw();

  &--active {
    @include toolbar-open__item--draw();
    @include toolbar-open__item--active();
  }

  &--disable {
    @include toolbar-open__item--draw();
    @include toolbar-open__item--disable();
  }
}

.toolbar-open__item--screen-capture {
  @include toolbar-open__item--screen-capture();
}

.toolbar-open__item--event-number-notice {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1px;
  left: 22px;
  min-width: 22px;
  height: 16px;
  border-radius: 8px;
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  color: #ffffff;
  background: #00345d;
}

.toolbar-open__item--screen-ratio-fit {
  @include toolbar-open__item--screen-ratio-fit();
}

.toolbar-open__item--screen-ratio-100 {
  @include toolbar-open__item--screen-ratio-100();
}

.toolbar-open__item--screen-ratio-125 {
  @include toolbar-open__item--screen-ratio-125();
}

.toolbar-open__item--screen-ratio-150 {
  @include toolbar-open__item--screen-ratio-150();
}

.toolbar-open__item--full-screen-expand {
  @include toolbar-open__item--full-screen-expand();
}

.toolbar-open__item--full-screen-minimize {
  @include toolbar-open__item--full-screen-minimize();
}

.toolbar-open__item--change-monitor {
  @include toolbar-open__item();
  @include toolbar-open__item--wide();
  @include toolbar-open__item--hover-bg-none();
  @include toolbar-open__item--before-clear();

  &--none {
    display: none;
  }
}

.toolbar-open__item--close {
  @include toolbar-open__item--close();
  @include toolbar-open__item--full();
  @include toolbar-open__item--ml-6();
  @include toolbar-open__item--bold();
}

.toolbar-open__item--fold {
  @include toolbar-open__item--fold();
  @include toolbar-open__item--full();
  @include toolbar-open__item--bolder();
  @include toolbar-open__item--right-round();
}

@mixin toolbar-close {
  z-index: 70;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 88px;
  height: 18px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #2185d9;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.3);
  cursor: pointer;

  &:hover {
    background: #f46a16;

    .toolbar-close__tooltip {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s 0.5s;
    }
  }
}

@mixin toolbar-close__item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 36px;
  height: 18px;

  &::before {
    content: '';
    display: block;
    width: 36px;
    height: 18px;
    margin: 0 auto;
    align-self: center;
  }
}

.toolbar-close {
  @include toolbar-close();

  &--fixed {
    @include toolbar-close();
    @include toolbar--fixed();
  }
}

.toolbar-close--toolbar-expand {
  @include toolbar-close__item();
  &::before {
    background: url($toolbar-arrow-up-url) no-repeat center center;
    transform: rotate(-180deg);
    background-size: cover;
  }
}
