@import '../../styles/variable';

@mixin next-icon {
  display:inline-block;

  &::after {
    content:" ";
    display: inline-block;
    position: relative;
    top: -4px;
    left: 10px;
    width: 10px; height:10px;
    border-right:2px solid white;
    border-bottom:2px solid white;
    transform: rotate(-45deg);
  }
}

@mixin next-icon--disable {
  &::after {
    visibility: hidden;
  }
}

@mixin button {
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  color: white;
  font-size: 28px;
  font-weight: lighter;
  cursor: pointer;
  height: 92px;
  line-height: normal;
  outline: none;
  min-width: 150px;

  &:hover {
    font-size: 29px;
    font-weight: normal;
    text-shadow: 4px 2px rgba(0, 0, 0, 0.1);
  }
}

@mixin button--large {
  min-width: 180px;
}

.button-left {
  @include button();

  &--large {
    @include button();
    @include button--large();
  }
}

.button-right {
  @include button();
  @include next-icon();
  @include next-icon--disable();

  &--large {
    @include button();
    @include button--large();

    &--disable {
      @include button();
      @include button--large();
      @include next-icon();
      opacity: 0.4;
    }

    &--active {
      @include button();
      @include button--large();
      @include next-icon();
    }
  }

  &--disable {
    @include button();
    @include next-icon();
    opacity: 0.4;
  }

  &--active {
    @include button();
    @include next-icon();
  }
}

.divide {
  background: white;
  width: 1px;
  height: 42px;
  opacity: 0.5;
  margin: 0 30px;
}

.input {
  display: inline-block;
  margin-left: 42px;
  margin-right: 22px;
  appearance: none;
  vertical-align: middle;
  border: 0;
  border-radius: 34px;
  text-align: center;
  width: 190px;
  height: 62px;
  font-size: 30px;
  font-weight: normal;
  color: #1278cb;
  outline: none;

  &:focus{
    border: 2px solid #0e5fa0;
  }
}

.close {
  position: absolute;
  top: 30px;
  left: 24px;
  width: 32px;
  height: 32px;
  background: url($selector-close-url);
  border: 0;
  cursor: pointer;
  outline: none;
}

.selector {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  height: 92px;
  background: #277bbf;
  background: linear-gradient(to right, #3e97e0, #1767a7);
  border-radius: (92px / 2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}
