@mixin wrapper {
  z-index: 110;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin wrapper--fixed {
  position: fixed;
}

@mixin background {
  background: rgba(97, 97, 97, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.background {
  @include background();

  &--fixed {
    @include background();
    position: fixed;
  }
}

.wrapper {
  @include wrapper();

  &--fixed {
    @include wrapper();
    @include wrapper--fixed();
  }
}

