@import '../../styles/variable';

@mixin function-keyboard__item {
  position: relative;
  background: #314854;
  border: 2px solid #1b2c35;
  font-size: 13px;
  min-width: 34px;
  text-align: center;
  height: 30px;
  border-radius: 4px;
  padding: 0 10px;
  margin-right: 2px;
  line-height: 31px;
  color: white;

  &:hover {
    cursor: pointer;
    background: #445e6b;
    border-color: #1b2c35;
  }

  &:last-child {
    margin-right: 0;
  }
}

@mixin function-keyboard__item--active {
  background: #121e25;
  border-color: #121e25;
}

@mixin function-keyboard__item--plus {
  background: #273c47;
  border-color: #121e25;
  padding: 0 16px 0 6px;

  &:hover {
    border-color: #121e25;
  }
}

@mixin plus {
  position: absolute;
  top: 11px;
  right: 7px;
  font-size: 16px;
  color: #071016;
  font-weight: bold;
  line-height: 10px;
}

@mixin plus--active {
  color: #2185d9;
}

.function-keyboard {
  display: inline-flex;
  position: absolute;
  top: 0;
  left: 0;
  background: #2e434e;
  align-items: center;
  height: 44px;
  border-radius: 6px;
  padding-left: 3px;
  padding-right: 3px;
}

.handle {
  content: url($drag-bar-icon-url);
  padding: 0 6px;
  width: 13px;

  &:hover {
    cursor: pointer;
  }
}

.function-keyboard__item-wrap {
  display: inline-flex;
  margin-right: 5px;
}

.function-keyboard__item {
  @include function-keyboard__item();

  &--active {
    @include function-keyboard__item();
    @include function-keyboard__item--active();
  }
}

.function-keyboard__item--plus-wrap {
  display: inline-flex;
}

.function-keyboard__item--plus {
  @include function-keyboard__item();
  @include function-keyboard__item--plus();

  &--active {
    @include function-keyboard__item();
    @include function-keyboard__item--plus();
    @include function-keyboard__item--active();
  }
}

.plus {
  @include plus();

  &--active {
    @include plus();
    @include plus--active();
  }
}