@import '../../styles/variable';

@mixin viewer() {
  float: left;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #2f2f2f;
  min-width: 100%;
  min-height: 100vh;
}

.viewer-wrap {
  &::after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.viewer {
  @include viewer();

  &--disable {
    display: none;
  }
}

.waiting {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: white;
}

.access-code {
  font-size: 40px;
}

.screen-wrap {
  position: relative;
  display: inline-block;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.3);
  font-size: 0;
}