.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(23, 103, 167, 0.3);
  border-radius: 46px;
}

.text {
  margin-top: 14px;
  font-size: 26px;
  color: #000000;
}