.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px 60px;
  border-radius: 10px;
}

.text {
  margin-top: 14px;
  font-size: 26px;
  color: #000000;
}