@mixin color-wrap__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 16px;

  &:hover {
    cursor: pointer;
  }
}

@mixin color-item {
  width: 18px;
  height: 18px;
  border-radius: 9px;
}

.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px 14px;
  background: #263943;
}

.color-wrap {
  @include color-wrap__item();

  &:hover {
    background: #142128;
  }

  &--active {
    @include color-wrap__item();
    background: #142128;
  }
}

.color-item--red {
  @include color-item();
  background: #fe0002;
}

.color-item--yellow {
  @include color-item();
  background: #fffe03;
}

.color-item--green {
  @include color-item();
  background: #00fe00;
}

.color-item--sky {
  @include color-item();
  background: #00ffff;
}

.color-item--pink {
  @include color-item();
  background: #ff00ff;
}