@import '../../styles/variable';

.screen-nav {
  display: flex;
  width: auto;
  height: 20px;
  border: 2px solid #0a6dbc;
  border-radius: 4px;
}

@mixin monitor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #0a6dbc;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 0;

  &:hover {
    cursor: pointer;
    background: #013a67;
    border-radius: 2px;
  }
}

@mixin active {
  background: #003967;
  color: #ffffff;
  border-radius: 2px;
}

.monitor {
  @include monitor();
}

.monitor--active {
  @include monitor();
  @include active();
}

