.content {
  background: white;
  min-width: 330px;
  border: 1px solid #a0a0a0;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(49, 49, 49, 0.3);
  overflow: hidden;
}

.header {
  padding: 10px;
  color: #333333;
  font-size: 12px;
}

.body {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 14px;
  min-height: 74px;
  max-width: 360px;
  color: #555555;
  background: #f7f8f9;
}

.footer {
  padding: 10px;
  background: #f7f8f9;
  text-align: right;
}
