@import '../../styles/variable';

@mixin dropdown-item {
  $pad: 20px;
  padding-left: (20px/2) + 36px + 8px;
  padding-right: 30px;
  height: 36px;
  line-height: 36px;
  font-size: 13px;

  &:hover {
    cursor: pointer;
    background-color: #1b2c35;
  }
}

@mixin dropdown-item--active {
  color: #34affc;
}

@mixin dropdown-item--km-control {
  @include dropdown-item();
  background: url($remote-control-icon-url) no-repeat;
  background-position-x: 8px;
}

@mixin dropdown-item--laser-pointer {
  @include dropdown-item();
  background: url($laser-pointer-icon-url) no-repeat;
  background-position-x: 8px;
}

@mixin dropdown-item--function-keyboard {
  @include dropdown-item();
  background: url($function-keyboard-icon-url) no-repeat;
  background-position-x: 8px;
}

@mixin dropdown-item--screen-keyboard {
  @include dropdown-item();
  background: url($screen-keyboard-icon-url) no-repeat;
  background-position-x: 8px;
}

@mixin dropdown-item--draw {
  @include dropdown-item();
  background: url($draw-icon-url) no-repeat;
  background-position-x: 8px;
}

.dropdown {
  display: inline-block;
  transform: translate(-55px, 24px);
  position: absolute;
  box-shadow: inset 0 8px 5px -5px rgba(0,0,0, 0.3);
  text-align: left;
  background: #2e434e;
  color: white;
  font-size: 0.85em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  padding: 8px 0;
}

.dropdown-item--km-control {
  @include dropdown-item--km-control();

  &--active {
    @include dropdown-item--km-control();
    @include dropdown-item--active();
  }
}

.dropdown-item--laser-pointer {
  @include dropdown-item--laser-pointer();

  &--active {
    @include dropdown-item--laser-pointer();
    @include dropdown-item--active();
  }
}

.dropdown-item--function-keyboard {
  @include dropdown-item--function-keyboard();

  &--active {
    @include dropdown-item--function-keyboard();
    @include dropdown-item--active();
  }
}

.dropdown-item--screen-keyboard {
  @include dropdown-item--screen-keyboard();

  &--active {
    @include dropdown-item--screen-keyboard();
    @include dropdown-item--active();
  }
}

.dropdown-item--draw {
  @include dropdown-item--draw();

  &--active {
    @include dropdown-item--draw();
    @include dropdown-item--active();
  }
}