@import '../../styles/variable';

@mixin entry {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  text-align: center;
  padding-top: 130px;
  box-sizing: border-box;
  color: #333333;
}

@mixin absolute-bottom-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}

@mixin table-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 208px;

  background:
    url($table-left-url) left 62px no-repeat,
    url($table-right-url) right 62px no-repeat,
    url($table-common-url);
}

.entry {
  @include entry();
  background: url($entry-blurred-bg-url) center 50%;
  background-size: cover;

  &--active-join {
    @include entry();
    background: url($entry-bg-url) center 50%;
    background-size: cover;
  }
}

.content {
  position: relative;
  z-index: 5000;
}

.title {
  font-size: 50px;
}

.sub-title {
  font-size: 18px;
  margin-bottom: 64px;
  line-height: 1.3;
}

.table-image {
  @include table-image();

  &--bottom {
    @include table-image();
    bottom: -92px;
  }
}

.computer {
  @include absolute-bottom-center();
  background: url($computer-url) no-repeat;
  width: 60vh;
  height: auto;
  background-size: contain;

  &::after {
    padding-top: 65%;
    content: " ";
    display: block;
  }


  &--bottom {
    @include absolute-bottom-center();
    background: url($blurred-computer-url) no-repeat;
    width: 723px;
    height: 455px;
    bottom: -148px;
  }
}

@mixin notice {
  font-size: 16px;
  margin-bottom: 10px;
}

.notice {
  @include notice();
}

.notice-error {
  @include notice();
  color: #f33128;
}

@media screen and (max-height: 800px) {
  .computer, .computer--bottom {
    display: none;
  }
}